<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
    <nav class="NavBar">
        <ul>
            <li id="items"><a href="/">Home</a></li>
            <li id="items"><a href="/about">About</a></li>
            <li id="items"><a href="/services">Services</a></li>
            <li id="items"><a href="/contact">Contact Us</a></li>
            <li id="items"><a href="/classinfo">Class Info</a></li>


        </ul>
    </nav>
    <div class="containerAbo">
        
        <h1>Name Of Class</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere debitis tempora facilis ipsa rerum eligendi eveniet repellat odio impedit suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellendus unde. Nulla, ratione voluptas? Debitis ipsa saepe tempora nam minus?</h2>
        <h1>History and establishment year</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere debitis tempora facilis ipsa rerum eligendi eveniet repellat odio impedit suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, repellendus unde. Nulla, ratione voluptas? Debitis ipsa saepe tempora nam minus?</h2>
        <h1>Our achivment</h1>
        <div class="achivment">
            <div class="card1">
               <h3>Raghav Juyal</h3>
            </div>
            <div class="card2">
               <h3>Shakti Mohan</h3>
            </div>
            <div class="card3">
               <h3>Prabhu Deva</h3>
            </div>
            <div class="card4">
               <h3>Hritik Roshan</h3>
            </div>
            
        </div>
        <div class="achivment">
            <div class="card5">
               <h3>Tiger Shroff</h3>
            </div>
            <div class="card6">
               <h3>Allu Arjun</h3>
            </div>
            <div class="card7">
               <h3>Remo Dsuza</h3>
            </div>
            <div class="card8">
               <h3>Punit Pathak</h3>
            </div>
            
        </div>
    </div>
    <footer>
        || Copyright ©  2023 VaibhavDanceAcademy.com All rights reserved |
    </footer>
</body>
</html>