<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/contact.css">
</head>
<body>
    <nav class="NavBar">
        <ul>
            <li id="items"><a href="/">Home</a></li>
            <li id="items"><a href="/about">About</a></li>
            <li id="items"><a href="/services">Services</a></li>
            <li id="items"><a href="/contact">Contact Us</a></li>
            <li id="items"><a href="/classinfo">Class Info</a></li>


        </ul>
    </nav>
    <div class="containerCon">
        <h1>Contact Us</h1>
    <form action="" method="post">
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="text" name="gender" id="gender" placeholder="Enter your gender">
        <input type="text" name="age" id="age" placeholder="Enter your age">
        <input type="email" name="email" id="email" placeholder="Enter your email">
        <input type="phone" name="phone" id="phone" placeholder="Enter your mobail number">
        <textarea name="address" id="address" cols="10" rows="10" placeholder="Enter your address"></textarea>
        <button class="btn">SUBMIT</button>
    </form>
    </div>
    <footer>
        || Copyright ©  2023 VaibhavDanceAcademy.com All rights reserved |
    </footer>
</body>
</html>