<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
    <nav class="NavBar">
        <ul>
            <li id="items"><a href="/">Home</a></li>
            <li id="items"><a href="/about">About</a></li>
            <li id="items"><a href="/services">Services</a></li>
            <li id="items"><a href="/contact">Contact Us</a></li>
            <li id="items"><a href="/classinfo">Class Info</a></li>


        </ul>
    </nav>

    <section class="introsection">
        <marquee behavior="" direction="left to right">Aja  Nachale  Nachale  Mere  Yarr  Tu Nachale</marquee>
        <h1>Welcome to vaibhav's Dance Academy </h1>
        <h2>Eeat Sleep Dance Repeat</h2>
    </section>
    <section class="missionsection">
        <h2>Our Mission</h2>
        <div id="container" class="firstcard">
            <h3> Dance Perfection</h3>
            <div class="card">
                <img src="../static/card1new.webp" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates mollitia voluptate velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
        <div id="container" class="secoundcard">
           <h3> Expert Teaching</h3>
            <div class="card">
                <img src="../static/card2newnewnew.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates mollitia voluptate velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
        <div id="container" class="Thirdcard">
            <h3> Daily Practice</h3>
            <div class="card">
                <img src="../static/card3.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates mollitia voluptate velit! Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
        </div>
    </section>
    <section class="sponserSection">
       <h2>Our Sponsers</h2>
       <div class="sponserimg">
           <img src="../static/p2logo1.jfif" alt="Sponsers img">
           <img src="../static/p2logo2.webp" alt="Sponsers img">
           <img src="../static/p2logo3.webp" alt="Sponsers img">
           <img src="../static/p2logo4.png" alt="Sponsers img">
    </div>
    </section>
    <footer>
       || Copyright ©  2023 VaibhavDanceAcademy.com All rights reserved |
    </footer>
</body>

</html>